<!-- Search Box -->
<input type="text" id="searchbox" placeholder="Search by university name...">
<br>
<table id="universitiesTable">
    <thead>
        <tr><br>
            <th data-sort="name">University</th>
            <th data-sort="qs">QS Ranking</th>
            <th data-sort="shanghai">Shanghai Ranking</th>
            <th data-sort="times">Times Ranking</th>
        </tr>
    </thead>
    <tbody>
    
        <!-- Placeholder for dynamic table -->
<!-- Table Placeholder -->

    </tbody>
    
</table>




