<!-- Search Box -->
<input type="text" id="searchbox" placeholder="Search by university name...">
<br>

<table id="universitiesTable">
    <thead>
        <tr>
            <th>University</th>
            <th data-sort="qs">QS World (2024)<a href="#qs-ranking-ref"><sup>[1]</sup></a></th>
            <th data-sort="times">THE World (2024)<a href="#the-ranking-ref"><sup>[2]</sup></a></th>
            <th data-sort="shanghai">ARWU World (2023)<a href="#arwu-ranking-ref"><sup>[3]</sup></a></th>
        </tr>
    </thead>
    <tbody>
        <!-- Placeholder for dynamic table -->
        <!-- Table Placeholder -->
    </tbody>
</table>

<!-- Adding the source field formatted as bibliography with accessed dates -->
<div id="sourceField" class="bibliography">
    <h3>References:</h3>
    <ol>
        <li id="qs-ranking-ref">QS Top Universities. (2024). QS World University Rankings. Retrieved from <a href="https://www.topuniversities.com/" target="_blank">https://www.topuniversities.com/</a>. Accessed on 20-04-2024.</li>
        <li id="the-ranking-ref">Times Higher Education. (2024). THE World University Rankings. Retrieved from <a href="https://www.timeshighereducation.com/" target="_blank">https://www.timeshighereducation.com/</a>. Accessed on 20-04-2024.</li>
        <li id="arwu-ranking-ref">Shanghai Ranking Consultancy. (2023). Academic Ranking of World Universities. Retrieved from <a href="http://www.shanghairanking.com/" target="_blank">http://www.shanghairanking.com/</a>. Accessed on 20-04-2024.</li>
    </ol>
</div>
