<footer>
    <p>Encountered an error or have an issue with the website? Please <a href="https://github.com/rishikeshsreehari/unirank/issues/new" target="_blank">create an issue here</a> or <a href="mailto:contact@onerank.world">get in touch with us</a>.</p>
    <p>Disclaimer: The information on this website is for general informational purposes only. We make no claims regarding the accuracy, completeness, or reliability of this information. Use of our website is at your own risk, and we are not liable for any resulting losses or damages.</p>
    <p>&copy; 2024 UniRank.one | All rights reserved.</p>
    <p>Made with ❤️ by <a href="https://rishikeshs.com" target="_blank">Rishikesh</a></p>
</footer>

<script src="js/script.js"></script>
</body>
</html>


