<footer>
    <hr>
    <p><strong>Disclaimer:</strong> The information on this website is for general informational purposes only. We make no claims regarding the accuracy, completeness, or reliability of this information. Use of our website is at your own risk, and we are not liable for any resulting losses or damages.</p>
    <p>Encountered an error or have an issue with the website? Please <a href="https://github.com/rishikeshsreehari/unirank/issues/new" target="_blank">create an issue here</a> or <a href="mailto:hello@unirank.one">get in touch with us</a>.</p>
    <p>Please note, all information on this site has been sourced from the respective sites mentioned above. If you're the owner of any of these rankings and wish to have your data removed from my website, don't hesitate to <a href="mailto:hello@unirank.one">contact me</a>.</p>
    <p>&copy; 2024 | Made by <a href="https://rishikeshs.com" target="_blank">Rishikesh</a> | v1.2.2 </p>
</footer>

<script src="js/script.js"></script>
</body>
</html>
