<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniRank.one</title>
    <link id="stylesheet" rel="stylesheet" type="text/css" href="css/styles-light.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header> 
        <a href="https://unirank.one" id="site-title">
            <h1>UniRank.one</h1>
        </a>
        <div id="header-icons">
            <!-- About menu item -->
            <a href="about.html" id="about-link">About</a>

            <!-- Theme toggle icons -->
            <div id="dark-light-toggle">
                <i class="fas fa-sun" id="light-icon"></i>
                <i class="fas fa-moon" id="dark-icon"></i>
            </div>
        </div>
    </header>
    <p>Find top 300 university rankings in one place at unirank.one. It's easy and quick to compare schools without any hassle.</p>
    <p>The three longest established and most influential global rankings are those produced by Quacquarelli Symonds (QS), Times Higher Education (THE) and Shanghai Ranking Consultancy (the Academic Ranking of World Universities; ARWU).</p>
</body>
</html>
