<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Onerank.world</title>
    <link id="stylesheet" rel="stylesheet" type="text/css" href="css/styles-light.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header> 
        <h1>onerank.world</h1> 
    <div id="dark-light-toggle">
        <i class="fas fa-sun" id="light-icon"></i>
        <i class="fas fa-moon" id="dark-icon"></i>
    </div>
        
</header>
<p>Find top 600 university rankings in one place at onerank.world. It's easy and quick to compare schools without any hassle.</p>
