<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Onerank.world</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <h1>onerank.world</h1>
        <p>Find top 600 university rankings in one place at Onerank.world. It's easy and quick to compare schools without any hassle.</p>
    </header>
